body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}
.block{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left:0;
    top:0;
    border: 1px solid black;
    background-color: brown;
    transition:transform 1s linear;
}